body {
  padding: 0 0.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Adapter from bootstrap */
.container {
  width: 100%;
  margin: 1em auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  ul {
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  ul {
    padding-left: 1.75rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Some other customizations */

.full-width {
  width: 100%;
}

form {
  margin-bottom: 0;
}

button.small {
  font-size: 85%;
}

hr {
  margin: 0.75rem 0;
  color: #DDD;
}

.row {
  margin-bottom: 0.5rem;
}

div#flash {
  border: 1px solid #AAA;
  background-color: #FCA4A5;
  padding: 0 1rem;
  text-align: center;
  display: none;
}

hr#flash-hr {
  display: none;
}

.pure-form label:not(#metronome-accent-label) {
  margin-top: 0;
  margin-bottom: 0;
}

.pure-form label {
  display: block;
  text-align: center;
  font-size: 85%;
}

button.padded-full-width {
  width: 95%;
  display: block;
}

button.right {
  float: right;
}

.pure-form select {
  height: 3rem;
  text-align: center;
}

.pure-form input[type="number"] {
  height: 3rem;
  text-align: center;
}

.pure-form button {
  height: 3rem;
  text-align: center;
}

input#metronome {
  width: 100%;
}

form#metronome-form button {
  width: 100%;
}

footer {
  text-align: center;
  font-size: 70%;
  color: #AAA;
}

footer a {
  color: #92a4fc;
}

.pure-form input[type="range"] {
  width: 100%;
}